<div id="mainbar">
    <br>
    <hr>
    <!--<div class="subheader">-->
        <!--<h1 id="h-all-questions">All Questions</h1>-->


        <!--<div id="tabs">-->
            <!--<a class="youarehere" href="/questions?sort=newest" data-nav-xhref="" title="The most recently asked questions" data-value="newest">newest</a>-->
            <!--<a href="/questions?sort=featured" data-nav-xhref="" title="Questions with open bounties" data-value="featured"><span class="bounty-indicator-tab">441</span>featured</a>-->
            <!--<a href="/questions?sort=frequent" data-nav-xhref="" title="Questions with the most links" data-value="frequent">frequent</a>-->
            <!--<a href="/questions?sort=votes" data-nav-xhref="" title="Questions with the most votes" data-value="votes">votes</a>-->
            <!--<a href="/questions?sort=active" data-nav-xhref="" title="Questions that have recent activity" data-value="active">active</a>-->
            <!--<a href="/questions?sort=unanswered" data-nav-xhref="" title="Questions that have no upvoted answers" data-value="unanswered">unanswered</a>-->
        <!--</div>-->

    <!--</div>-->
    <div id="questions">
        <volist name="questions" id="q">
            <div class="question-summary" id="question-summary-{$q.id}">
                <div class="statscontainer">
                    <div class="statsarrow"></div>
                    <div class="stats">
                        <div class="vote">
                            <div class="votes">
                                <span class="vote-count-post "><strong>0</strong></span>
                                <div class="viewcount">votes</div>
                            </div>
                        </div>
                        <div class="status unanswered">
                            <strong>0</strong>answers
                        </div>
                    </div>
                    <div class="views " title="4 views">
                        4 views
                    </div>
                </div>
                <div class="summary">
                    <h3><a href="/index.php/Home/Question/details/id/{$q.id}" class="question-hyperlink">{$q.title}</a></h3>
                    <div class="excerpt">
                        {$q.content}
                    </div>
                    <div class="tags t-aspûnet-mvc t-twitter-bootstrap t-razor">
                        <volist name="tags" id="tag">
                            <a href="/index.php/Home/Question/tagged/{$tag.name}" class="post-tag" title="show questions tagged &#39;{$tag.name}&#39;" rel="tag">{$tag.name}</a>
                        </volist>
                    </div>
                    <div class="started fr">
                        <div class="user-info ">
                            <div class="user-action-time">
                                asked <span title="2015-11-30 08:06:03Z" class="relativetime">1 min ago</span>
                            </div>
                            <div class="user-gravatar32">
                                <a href="/users/216004/mehran"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/fbbf79b6fd4fe7989b4462a175921b06?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
                            </div>
                            <div class="user-details">
                                <a href="/users/216004/mehran">mehran</a><br>
                                <span class="reputation-score" title="reputation score " dir="ltr">55</span><span title="9 bronze badges"><span class="badge3"></span><span class="badgecount">9</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </volist>
    </div>

    <br class="cbt" />
    {$page}
<style>
    .num,.current{ margin: 10px;}
</style>
</div>
</div>
